.row
  .large-12
    = form_for([@project, @persona, @influencer]) do |f| 
      = content_tag(:b, "Now you have #{100.0 -@persona.influencers.sum(:percentage)}% left to use for new influencers.")
      .row
        .large-12.columns
          = f.label :name 
          = f.text_field :name 


      .row
        .large-12.columns
          = f.label :percentage
          .row.collapse
            .large-9.columns  
              = f.number_field :percentage, min: 0, max: 100  
            .large-3.columns
              %span.postfix %  

      .row 
        .large-12.columns
          = f.submit 

