.row
  .large-12
    = form_for([@project, @persona, @influencer]) do |f| 
      = content_tag(:b, "Now you have #{@influencer.new_record? ? 100.0 - @persona.influencers.sum(:percentage) : 100 - @persona.influencers.where.not(name: @influencer.name).sum(:percentage)  }% left to use for new influencers.")
      .row
        .large-12.columns
          = f.label :name 
          = f.text_field :name 


      .row
        .large-12.columns
          = f.label :percentage
          .row.collapse
            .large-9.columns  
              = f.number_field :percentage, min: 0, max: @influencer.new_record? ? 100.0 - @persona.influencers.sum(:percentage) : 100 - @persona.influencers.where.not(name: @influencer.name).sum(:percentage)  
            .large-3.columns
              %span.postfix %  

      .row 
        .large-12.columns
          = f.submit 

