= form_for([@project, @attachment]) do |f| 
  .row 
    %div.large-12.columns 
      = f.label :name
      = f.text_field :name 

    %div.large-12.columns
      = f.label :description
      = f.text_field :description

    %div.large-12.columns
      = f.label :file 
      = f.file_field :file 

    %div.large-12.columns 
      = f.submit
