= title "Home Page: Welcome. My name is Kevin Lozandier,  and I make modern web applications."
= description "A mobile-first web designer and web developer that uses Rails 4, Sass, CoffeeScript, and many other modern langauges and frameworks to solve a variety of problems."
.headline_box.home_page 
  -# Class used to have the image set; again used to give a definite size. Update: Removed
  .mask

%main
  %section.headliner.skillset.home_page
    %div 
    %h1{ data: {"typer-targets" => "My name is Kevin Lozandier., I make modern web applications., , I love learning new things., I am a rapid prototyper., I value Lean UX., I believe in designing mobile-first., I advocate for end users."}}
    %h2 
      Hello there. I'm a web designer and web developer fascinated with HTML5, Sass, Rails, CoffeeScript, jQuery, and continuously getting better about such things. A recent grad. A Treehouse scholar.


  %section.headliner.benefits 
    %section.headline_item 
      %figure 
        = link_to image_tag('benefits/workspace.jpg', data: {interchange: "[#{image_url('benefits/workspace@2x.jpg')}, (retina)]"}), projects_path 
        %h2= link_to 'A maker of a variety of things.', projects_path    
        %figcaption My Projects 
    %section.headline_item 
      %figure.benefit2
        = link_to image_tag('benefits/web_dev_and_web_designer.png', data: {interchange: "[#{image_url('benefits/web_dev_and_web_designer@2x.jpg')}, (retina)]"}), technologies_path    
        %h2= link_to 'A web designer & web developer', technologies_path  
        %figcaption My Skills 
    %section.headline_item 
      %figure 
        =  link_to image_tag('benefits/ready_for_the_real_world.jpg', data: {interchange: "[#{image_url('benefits/ready_for_the_real_world@2x.jpg')}, (retina)]"}), page_path('about_me')
        %h2=  link_to "A recent grad ready for real work.", page_path('about_me')
        %figcaption About Me 
