= title "#{@project.title} #{@project.byline}" 
= description @project.byline 

%div{ itemscope: true, itemType:"http://schema.org/CreativeWork"}
  %meta{itemProp: "audience", content: "UX Enthuasiasts"}
  %meta{itemProp: "accountablePerson creator author", content: "Kevin Lozandier"}
  %section.project_spotlight_box

    .background_image{style: "background-image:url(#{@project.background_image.url})"} 

    .mask 
  
    
    %div.row
      .avatar
        %img{ itemprop: "primaryImageOfPage", src: "#{@project.main_image.url}"}

      %header
        %h1{itemprop: "name headline about"}= @project.title
        %hr
        %p{itemprop: "alternativeHeadline description"}= @project.byline  

        %div.meta_information_panel
          %span.meta_information
            %strong Medium:  
            = @project.medium
          
          %span.meta_information
            %strong Released: 
            = @project.released_since

        = @project.display_experiment_badge
        - if admin_signed_in? 
          = @project.admin_links

%nav
  %ul.bc 
    %li 
      = link_to 'Projects', projects_path 
    %li.current 
      = link_to @project.title, project_path(@project)
        
%main 
  .row 
    %section.primary_information
      %meta{ itemprop: "mainContentOfPage", content: "true"} 
      %h2 About Project 
      %hr 
      :markdown
        #{@project.description}

      %h2 Goals 
      %hr
        = @project.display_goals


    %aside.complimentary_information{data: {"project-meta-data" => "#{project_path(@project.project)}"}} 
      %section.technology_profiles 
        %h2 
          Knowledge Used
        %hr
        %figure.data
          =@project.display_associated_collection(@technology_profiles)
        %figure.legend 
          %h3 Legend 
          .keys{class: "#{@project.class_for_object_amount(@technology_profiles)}"}
      -if admin_signed_in?
        %section.edit_technology_profiles 
          %h2 Edit Technology Profiles
          = @project.display_associated_collection(@technology_profiles)
      %section.photos 
        %h2 
          Photos
        %hr
        %ul.large-block-grid-3.project_photos
          =@project.display_associated_collection(@photos)

      %section.personas
        %h2 
          Personas
        %hr
          = @project.display_personas
      %section.attachments
        %h2 Attachments 
        %hr
        = @project.display_attachments
      %section.link_to_project 
        %h2 
          Link to Project
        %hr 
        = @project.display_project_link



