<div class="row">
  <div class="large-12 columns">
    <h2>Sign in</h2>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>
    </div>
  </div>
 
  <div class="row">
    <div class="large-12 columns">
      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>
      </div>
  </div>
 
  <div class="row">
    <div class="large-12 columns">
        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>
        <div class="row">
          <div class="large-12 columns">
            
          </div>
        </div>
        <div><%= f.submit "Sign in" %></div>
      <% end %>
    </div>
  </div>
 <div class="row">
   <div class="large-12 columns">
     <%= render "devise/shared/links" %>
   </div>
 </div>
