= title "#{@project.title}: Personas"  
%section.headline_box

  
  - if @project 
    = image_tag @project.background_image.url  
  .mask 

  %div.row
    %div I
    

%main
  .row 
    %section.primary_information
      %meta{ itemprop: "mainContentOfPage", content: "true"} 
      %h2 Personas for #{@project.title if @project.presence}
      %hr
      %p
        :markdown
          Personas are invaluable tools for modern web designers to make use of, and I'm no different.  Personas have helped me countless times diagnose problems more easily. The following are the personas for the #{@project.title} project  

         
      %ul.list_of_personas_wrapper.masonry-container
        = render partial: 'personas/persona_inside_list', collection: @personas, as: :persona
    %aside.complimentary_information 

      %section.related_projects   
        %h2 Persona-packed Projects  
        %hr
        - # TODO: V1 1.1: Make a collection decorator for these loops 
        - if @persona_packed_projects.any? 
          = render @persona_packed_projects
        - else 
          %p Huh... It seems Personas are sparse on the website at the moment to the extent there's no project with more than 1 persona.

          %p Probably a bug. Please visit some other time, and this should be fixed. :)  

