
%div.persona_initial_box
  .background_image
    = image_tag(@persona.background_image.url)
  .mask
  .row
    .large-4.columns.avatar
      = image_tag(@persona.avatar.url)

    .large-8.columns
      %h1= @persona.full_name
      %hr
      %p= @persona.byline
      %p.meta_information
        %strong Age:   
        = @persona.age
      %p.meta_information
        %strong Occupation: 
        = @persona.occupation
      = @persona.display_attribution 
      %div.admin_links 
        = link_to 'Edit Persona', edit_project_persona_path(@project, @persona)
        = link_to 'Add Influencer', new_project_persona_influencer_path(@project, @persona)
        = link_to 'Add Interest', new_project_persona_interest_path(@project, @persona)
        = link_to 'Add Goal', new_persona_goal_path(@persona)
        
        
%div 
  .row 
    %article.large-8.columns
      %h2 Description
      %hr
      = @persona.description 

      %h2 Goals 
      %hr
      = @goals 
      
    %aside.large-4.columns.persona_meta_data{data: {"persona-meta-data" => "#{project_persona_path(@project, @persona)}"}}
      %section.influencers 
        %h2 Influencers
        %hr
        %figure.data
          = @persona.display_associated_collection(@influencers)

        %figure.legend
          %h3 Legend 
          .keys 

      %section.interests 
        %h2 Interests 
        %hr
        %figure.data
          = @persona.display_associated_collection(@interests)
        

    
