= title "#{@persona.project.title}'s Personas: #{@persona.full_name}. ".html_safe
= description @persona.byline 

%meta{itemProp: "isPartOf", content:"Personas"}
%div{ itemscope: true, itemType:"http://schema.org/CreativeWork"}
  %meta{itemProp: "audience", content: "UX Enthuasiasts"}
  %meta{itemProp: "accountablePerson creator author", content: "Kevin Lozandier"}
  
  %section.persona_spotlight_box

    .background_image{style: "background-image: url('#{@persona.background_image.url(:as_a_background)}')"} 
      =#%img{src: "http://lorempixel.com/1000/500/abstract"}
    .mask 
  
    
    %div.row
      .avatar{itemscope: true, itemtype: "http://schema.org/Photograph"}
        = @persona.spotlight_image 
        = @persona.copyright_meta
  


      %header
        %h1{itemprop: " name headline about"}= @persona.full_name 
        %hr
        %p{itemprop: "alternativeHeadline description"}= @persona.byline  
        
        - #TODO Refactor to decorator for V1.1 
        %div.meta_information_panel
          %span.meta_information
            %strong Age: 
            = @persona.age 
          // 
          %span.meta_information
            %strong Occupation: 
            = @persona.occupation
        = @persona.display_attribution
        = @persona.admin_links

%nav
  %ul.bc 
    %li 
      = link_to 'Projects', projects_path 

    %li 
      = link_to @project.title, project_path(@project)  

    %li
      = link_to "Personas for #{@project.title}", project_personas_path(@project)   

    %li.current 
      = link_to "#{@persona.full_name}", project_persona_path(@project, @persona), "data-no-turbolink" => true 
        
%main 
  .row 
    %section.primary_information 
      %meta{ itemprop: "mainContentOfPage", content: "true"}
      %h2 Biography
      %hr
      = @persona.description 

      %h2 Goals 
      %hr
      %ul.goals_list.ensure_padding
        = @persona.display_goals(@goals)
      
    %aside.complimentary_information.persona_meta_data{data: {"persona-meta-data" => "#{project_persona_path(@project, @persona)}"}}
      %section.influencers 
        %h2 Influencers
        %hr
        %figure.data
          = @persona.display_associated_collection(@influencers)

      

        %figure.legend
          %h3 Legend 
          .keys{class: "#{@persona.class_for_object_amount(@influencers)}"}
      
      - if admin_signed_in? 
        %section.edit_influencers 
          %h2 Edit Influencers 
          = @persona.display_associated_collection(@influencers) 
          
      %section.interests 
        %h2 Interests 
        %hr
        %figure.data
          = @persona.display_associated_collection(@interests)
        

    
