= title "#{@technology.name}: #{@technology.byline}" 
= description markdown.render(@technology.byline).html_safe


%section.project_spotlight_box

  .background_image
  .mask 

  
  %div.row
    .avatar
      = @technology.spotlight_image

    %header
      %h1= @technology.name 
      %hr{style: "border-color: #{@technology.color}"}
      %p= @technology.byline  

      %div.meta_information_panel
        %span.meta_information
          %strong{style: "color: #{@technology.color}"} Years of Experience:   
        = @technology.years_of_experience   
      - if admin_signed_in?
        = @technology.admin_links
%nav
  %ul.bc 
    %li 
      = link_to 'Skills', skills_path 
    %li.current 
      = link_to @technology.name, skill_path(@technology)

%main
  .row 
    %section.primary_information 
      %h2= "About my experiences with #{@technology.name}"
      %hr
      = markdown.render(@technology.history).html_safe

          
    %aside.complimentary_information 

      %section.related_projects   
        %h2 Related Projects 
        %hr
        = render partial: 'projects/related_project', collection: @related_projects, as: :project
        
