!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"
  %script{src:"http://typecast.com/project_css/kevin-lozandier/904004576bf99.js" } 
  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"

  = csrf_meta_tag

%body{itemscope: true,  itemtype: "http://schema.org/WebPage"}
  %nav.top-bar
    %ul.title-area 
      %li.name
        %h1
          = link_to "Kevin Lozandier", root_path  
      %li.toggle-topbar.menu-icon 
        %a 
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        %li
          = link_to 'Home', root_path
        %li 
          = link_to 'About Me', page_path('about_me')
        
        %li 
          = link_to 'Skills', technologies_path

        %li
          = link_to 'Projects', projects_path  

      %ul.right
        - if admin_signed_in? 
          %li= link_to 'Sign out', destroy_admin_session_path, method: :delete
          %li.has-dropdown
            %a{href: "#"} Admin Page 
            %ul.dropdown
              %li 
                %label Technology
              %li
                = link_to 'Add Technology', new_technology_path  

              %li
                %label Project 
              %li  
                = link_to 'Add Project', new_project_path 
        - else 
          %li= link_to 'Sign in', new_admin_session_path
  
  - if flash.any?
    %p.notice= notice 
    %p.alert= alert 
  = yield
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'jquery_ujs'
  = javascript_include_tag params[:controller]
  = javascript_include_tag "application"

